<div class="app-container">
  @if (showHeader()) {
  <app-header></app-header>
  }

  <!-- Main Content Area -->
  <main class="main-content" [class.no-nav]="!showNav()" [class.pt-0]="showHeader()">
    <router-outlet />
    @if (showFooter()) {
    <app-footer />
    }
  </main>

  <!-- Bottom Navigation -->
  @if (showNav()) {
  <nav class="bottom-nav">
    <a routerLink="/events" routerLinkActive="active" class="nav-item">
      <span class="material-symbols-outlined">calendar_month</span>
      <span>Események</span>
    </a>

    <a routerLink="/groups" routerLinkActive="active" class="nav-item">
      <span class="material-symbols-outlined">groups</span>
      <span>Tagságaim</span>
    </a>

    <a routerLink="/results" routerLinkActive="active" class="nav-item">
      <span class="material-symbols-outlined">leaderboard</span>
      <span>Eredmények</span>
    </a>

    <a routerLink="/profile" routerLinkActive="active" class="nav-item">
      <span class="material-symbols-outlined">person</span>
      <span>Profil</span>
    </a>
  </nav>
  }
  <app-cookie-consent />
  <app-modal />
</div>
